@import '../../index.scss';

// Note for later
// #f6f5f4 is replacable by theme-color('light');
// tbd after revisit

.page-pricing-detailed {
	section {
		&.hero-section {
			&.backdrop-books {
				&.background-wave {
					background: $product-books url('/static/images/wave-books.svg') no-repeat center;
					background-size: cover;
				}
			}
			&.backdrop-sales {
				&.background-wave {
					background: $product-sales url('/static/images/wave-sales.svg') no-repeat center;
					background-size: cover;
				}
			}
			&.backdrop-people {
				&.background-wave {
					background: $product-people url('/static/images/wave-people.svg') no-repeat center;
					background-size: cover;
				}
			}
			&.backdrop-primary {
				&.background-wave {
					background: theme-color('primary') url('../../../assets/images/wave-aio.svg') no-repeat center;
					background-size: cover;
				}
			}
			.primary-panel {
				z-index: 999;
			}
			.background-decorator {
				position: absolute;

				@include media-breakpoint-down(md) {
					&.left-center {
						left: 0;
					}
					&.right-center {
						right: 0;
					}
				}
				&.top-right {
					top: 0;
					right: 0;
					max-width: 10rem;
				}
				&.bottom-right {
					right: 0;
					bottom: 0;
					max-width: 12rem;
				}
				&.left-center {
					top: 50%;
					left: 18%;
					max-width: 12rem;
					transform: rotate(160deg);
				}
				&.right-center {
					top: 50%;
					right: 18%;
					max-width: 12rem;
				}
				.books {
					path {
						fill: darken($product-books, 5%);
					}
				}
				.sales {
					path {
						fill: darken($product-sales, 5%);
					}
				}
				.people {
					path {
						fill: darken($product-people, 5%);
					}
				}
				.all-in-one {
					path {
						fill: darken(theme-color('contrast'), 5%);
					}
				}
				.default {
					path {
						fill: darken(theme-color('light'), 5%);
					}
				}
			}
		}
		&.summary-section {
			.primary-panel {
				.img-fluid {
					width: 6rem;
				}
			}
		}
		&.new-pricing-section {
			overflow: hidden;
			background-image: none;
			margin-top: -21rem;
			&.backdrop-white {
				background-color: transparent;
			}
			.container .container {
				@include media-breakpoint-down(lg) {
					max-width: 100%;
				}
			}
			// .summary-container {
			// 	position: relative !important;
			// }
			.header-column {
				&-startup {
					.header-column-inner {
						background-color: #f6f5f4;
					}
				}
				&-essential {
					.header-column-inner {
						background-color: #f6f5f4;
					}
				}
				&-professional {
					.header-column-inner {
						background-color: #f6f5f4;
					}
				}
				.plan-icon,
				.product-icon {
					max-width: 1.5rem;
					margin-right: 0.5rem;
				}
			}
			.pricing-table {
				&.table-striped > thead > tr > th {
					background-color: #f6f5f4;
					vertical-align: middle;
				}
				&.table-striped > tbody {
					& > tr:nth-child(odd) {
						& > td,
						& > th {
							background-color: transparentize(lighten($color: #f6f5f4, $amount: 3%), $amount: 0.1);
						}
					}
					// uncomment for Essential column highlight
					// & > tr {
					// 	td:nth-child(3) {
					// 		background-color: transparentize(lighten($yellow, $amount: 33%), $amount: 0.4);
					// 	}
					// }
				}
				&.table-striped > tbody > tr {
					&.plan-books td,
					&.plan-sales td,
					&.plan-people td {
						background-color: $white;
						border: 0.24rem solid darken($color: #f6f5f4, $amount: 3%);
						border-width: 0.24rem 0;
					}
				}

				&.table-bordered th,
				&.table-bordered td {
					border: 0.08rem solid darken($color: #f6f5f4, $amount: 3%);
				}
				&.table-hover tbody tr:hover,
				&.table-hover tbody tr:hover td {
					background-color: transparentize(lighten($yellow, $amount: 33%), $amount: 0.4);
				}
				&.table-hover tbody tr.feature-header-row :hover,
				&.table-hover tbody tr.feature-header-row :hover td {
					background-color: $white;
				}

				h3.section-byline {
					margin: 0;
					img {
						vertical-align: text-bottom;
					}
				}
				.h5,
				svg,
				p {
					font-weight: 500;
					letter-spacing: 0.015rem;
					vertical-align: middle;
					margin-bottom: 0.08rem;
					margin-top: 0.08rem;
					@include font-size(1.2rem);
				}
				p {
					margin-bottom: 0.5rem;
					margin-top: 0.5rem;
					@include font-size(1.1rem);
				}
				tr {
					vertical-align: middle;
					td {
						vertical-align: middle;
					}
					&.feature-list-item {
						& > td:nth-child(1) {
							svg {
								font-size: 70%;
							}
						}
					}
				}
				tr.tbd-icons {
					&.plan-feature-list {
						& > td:nth-child(1) {
							.h5 {
								&:before {
									padding: 0.25rem;
									border: 0.08vw solid theme-color('dark');
									background-color: theme-color('dark');
									border-radius: 50%;
									color: $white;
									content: '\f14a';
									content: '\f00c';
									vertical-align: middle;
									font-size: $plan-card-padding/3.2;
									font-family: $font-family-awesome;
								}
							}
						}
					}
					&.feature-list-item {
						& > td:nth-child(1) {
							.h5 {
								&:before {
									padding: 0.05rem;
									border: 0;
									border-radius: 50%;
									color: theme-color('dark');
									content: '\f14a';
									content: '\f00c';
									vertical-align: middle;
									font-size: $plan-card-padding/2;
									font-family: $font-family-awesome;
								}
							}
						}
					}
				}
			}
			.panel-addons {
				&:before {
					content: '';
					background-color: transparentize($color: #f6f5f4, $amount: 0.8);
					position: absolute;
					width: 200%;
					height: 100%;
					top: 0;
					left: -50%;
					right: auto;
				}
				.panel-addons-inner {
					border-color: darken($color: #f6f5f4, $amount: 10%) !important;
					background-color: $white;
					.setter {
						background-color: #f6f5f4;
						.nav.nav-pills {
							background-color: transparentize($color: #f6f5f4, $amount: 0.8);
							.nav-link {
								align-items: center;
								padding: $plan-card-padding/2;
								color: theme-color('dark');
								svg,
								span {
									vertical-align: middle;
								}
								&:hover {
									background-color: darken($color: #f6f5f4, $amount: 5%);
									color: theme-color('contrast');
									border-radius: $border-radius * 2 0 0 $border-radius * 2;
								}
								&.active {
									background-color: $white;
									color: theme-color('dark');
									border-radius: $border-radius * 2 0 0 $border-radius * 2;
									font-weight: bold;
									&:hover {
										background-color: $white;
									}
								}
								@include media-breakpoint-down(md) {
									padding: $plan-card-padding/3;
									&:hover,
									&.active {
										border-radius: $border-radius * 2 $border-radius * 2 0 0;
									}
								}
							}
						}
					}
					.adjuster {
						background-color: $white;
					}
				}
				.plan-card {
					border-color: darken($color: #f6f5f4, $amount: 10%) !important;
					background-color: $white;
				}
			}
			// &#pricing-aoi,
			// &#pricing-books,
			// &#pricing-sales,
			// &#pricing-people {
			// 	border-top: 0.16rem solid darken($color: #f6f5f4, $amount: 3.5%);
			// }

			.pricing-summary {
				.plan-price {
					margin: 0;
					font-weight: 500;
					font-size: ($small_ratio * 1.321) * 1rem;
					@include fluid-type($min_width, $max_width, ($small_ratio * 1.321) * $min_font, ($large_ratio * 0.567) * $max_font);
					font-family: $headings-font-family;
					line-height: 1;
					vertical-align: text-top;

					sup {
						top: -$plan-card-padding/7;
					}

					span {
						font-weight: 400;
						// font-size: $font-size-base;
						font-family: $font-family-base;
						&.plan-price-value {
							font-weight: 500;
							font-size: ($small_ratio * 2.4) * 1rem;
							@include fluid-type($min_width, $max_width, ($small_ratio * 2.4) * $min_font, ($large_ratio * 0.96) * $max_font);
							line-height: 1;
							vertical-align: text-top;
						}
					}
				}
			}
			.text-normal {
				font-weight: 500;
				letter-spacing: 0;
			}
		}

		.wrapper {
			width: 100%;
			overflow: hidden;
		}

		.stickyHeader {
			table.pricing-table {
				overflow-y: auto;
				height: 100%;

				.header-column {
					position: relative;
					z-index: 9;

					.header-column-inner {
						position: fixed;
						padding: 1rem 0;
						top: 70px;
						background: inherit;
						animation: slideDown 200ms ease-in;
						background-color: #f6f5f4;
						border: 0.08rem solid darken($color: #f6f5f4, $amount: 3%);
						width: 40%;
						z-index: 1;
					}
					&.plan-startup,
					&.plan-essential,
					&.plan-professional {
						.header-column-inner {
							width: 18%;
						}
					}
				}
				.feature-header-row {
					.header-column {
						z-index: 0;
					}
				}
			}
		}

		@keyframes slideDown {
			0% {
				transform: translateY(-50%);
			}
			100% {
				transform: translateY(0%);
			}
		}
	}
}

td,
th {
	empty-cells: show;
}
td,
th {
	text-align: left;
}
td + td,
th + th {
	text-align: center;
	display: none;
}
td.plan-default,
th.plan-default {
	display: table-cell;
}

@include media-breakpoint-up(md) {
	td,
	th {
		display: table-cell !important;
	}
	td,
	th {
		width: 330px;
	}
	td + td,
	th + th {
		width: auto;
	}
}
