*,
*:before,
*:after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
::selection {
	background-color: #ffe3bed6;
}
#root > * {
	flex-flow: column nowrap;
	width: 100%;
	position: relative;

	main {
		z-index: 2;
		background: $white;
		height: initial;
		overflow-x: initial;
		overflow-y: initial;
		position: relative;
		section:last-of-type {
			box-shadow: 0px 2px 5px transparentize(theme-color('dark'), $amount: 0.8);
		}
	}
}
svg {
	height: auto;
}
// Generic Section Classes
section {
	position: relative;
	// overflow-x: hidden;
	// padding: $navbar-min-height/3 0;
	&.viewport-size {
		display: flex;
		min-height: max-content;
		flex-direction: column;
		.section-inner-wrapper {
			margin: auto;
			display: block;
		}
	}
	@include media-breakpoint-up(md) {
		&.viewport-size {
			min-height: 100vh;
		}
	}
	@media screen and (min-width: 1921px) and (max-height: 1201px) {
		// manual override for 1920 and above resolutions for 16:10
		&.viewport-size {
			min-height: 1201px;
		}
	}
	@media screen and (min-width: 1921px) and (min-height: 1202px) {
		// manual override for 1920 and above resolutions for bigger than 1920x1200 in 16:10 or 1920x1080 in 16:9
		&.viewport-size {
			min-height: 1080px;
		}
	}

	.divider {
		padding: $navbar-min-height/2 0;
	}

	.section-inner-wrapper {
		.img-responsive {
			display: block;
			max-width: 100%;
			height: auto;
		}

		.section-leader {
			font-weight: 500;
			line-height: 0.9;
			letter-spacing: normal;
			// font-size: ($small_ratio * 1.44) * 1rem;
			// @include fluid-type($min_width, $max_width, ($small_ratio * 1.44) * $min_font, ($large_ratio * 0.65) * $max_font);
			@include font-size(1.56rem);
		}

		.section-heading {
			font-weight: 800;
			// font-size: 4.7vw;
			line-height: 1.1;
			// font-size: ($small_ratio * 2) * 1rem;
			// @include fluid-type($min_width, $max_width, ($small_ratio * 2) * $min_font, ($large_ratio * 1.35) * $max_font);

			@include font-size(3.5rem);
		}

		.section-byline {
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: -0.017rem;
			font-family: $headings-font-family;
			// font-size: ($small_ratio * 1.2) * 1rem;
			// @include fluid-type($min_width, $max_width, ($small_ratio * 1.2) * $min_font, ($large_ratio * 0.7) * $max_font);
			@include font-size(($large_ratio * 0.7) * $max_font);
		}

		.section-description {
			position: relative;
			z-index: inherit;
			letter-spacing: -0.025rem;
			// font-size: ($small_ratio * 1.2) * 1rem;
			// @include fluid-type($min_width, $max_width, ($small_ratio * 1.22) * $min_font, ($large_ratio * 0.55) * $max_font);
			@include font-size(1.32rem);
		}
		.section-trailer {
			// font-size: ($small_ratio * 1.2) * 1rem;
			// @include fluid-type($min_width, $max_width, ($small_ratio * 1.2) * $min_font, ($large_ratio * 0.7) * $max_font);
			@include font-size(1.32rem);
			.btn-readmore {
				font-weight: 500;
				padding: 0;
				border: 0;
				text-align: left;
				letter-spacing: -0.007rem;
				color: theme-color('dark');
				// font-size: ($small_ratio * 1.2) * 1rem;
				// @include fluid-type($min_width, $max_width, ($small_ratio * 1.2) * $min_font, ($large_ratio * 0.7) * $max_font);
				@include font-size(1.32rem);
				&:active {
					color: theme-color('dark');
				}
				&:hover,
				&:focus {
					color: theme-color('contrast');
					border: 0;
					box-shadow: none;
				}
				&.btn-medium {
					// font-size: ($small_ratio * 1.2) * 1rem;
					// @include fluid-type($min_width, $max_width, ($small_ratio * 1.2) * $min_font, ($large_ratio * 0.7) * $max_font);
					@include font-size(1.32rem);
				}
				&.btn-small {
					// font-size: ($small_ratio * 1.1) * 1rem;
					// @include fluid-type($min_width, $max_width, ($small_ratio * 1.13) * $min_font, ($large_ratio * 0.468) * $max_font);
					@include font-size(1.32rem);
				}
			}
		}

		.has-product-icon {
			padding-bottom: 0.7rem;
			margin-bottom: 2rem;
			text-transform: capitalize;
			// font-size: $small_ratio * $small_ratio * 1rem;
			// @include fluid-type($min_width, $max_width, $small_ratio * $small_ratio * $min_font, $large_ratio * $large_ratio * $min_font);

			.ascent-base {
				position: relative;
				display: inline-block;
				height: 2.5rem;
				padding-right: 1.2rem;
				&:after {
					content: '';
					width: 100%;
					height: 0.24rem;
					display: block;
					position: absolute;
					left: 0;
					bottom: -1rem;
					background: $grey-900;
				}
				img {
					height: 100%;
					max-height: 100%;
					width: auto;
				}
			}
			.product-icon {
				margin-right: 1rem;
			}
			&.section-leader {
				padding-bottom: 0.7rem;
				margin-bottom: 2rem;
				font-weight: 500;
				font-family: $headings-font-family;
			}

			&.icon-books {
				// color: $product-books;
				border-bottom: 0.08rem solid $grey-700;
				fill: $product-books;
			}
			&.icon-sales {
				// color: $product-sales;
				border-bottom: 0.08rem solid $grey-700;
				fill: $product-sales;
			}
			&.icon-people {
				// color: $product-people;
				border-bottom: 0.08rem solid $grey-700;
				fill: $product-people;
			}
		}
		.vertical-carousel {
			display: flex;
			align-items: center;
			justify-content: center;

			.carousel-content {
				.list-group {
					.list-group-item {
						transition: all 0.3s ease 0s;
						.active:after {
							transition: background-color 0.5s ease;
							transition: all 1s ease 0s;
						}
					}
				}
			}
			.vertical-indicators {
				justify-content: left;
				padding-right: 1em;
				padding-left: 0em;
				list-style: none;
				li {
					flex: 0 1 auto;
					box-sizing: content-box;
					width: 10px;
					height: 10px;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-radius: 50%;
					background-color: $white;
					background-clip: padding-box;
					cursor: pointer;
					transition: opacity 0.6s ease;
					&.active {
						background-color: theme-color('secondary');
					}
				}
			}
		}
		//Parallax Common Class
		.secondary-panel {
			.parallax-outer {
				&.parallax-takeout {
					position: absolute;
					width: auto;
					&.takeout-one {
						img.takeout-one {
							max-width: 80%;
						}
					}
					&.takeout-two {
						text-align: end;
						width: auto;
						height: auto;
						img.takeout-two {
							max-width: 40%;
						}
					}
					img {
						width: 100%;
						max-width: 100%;
						height: auto;
					}
				}
				&.parallax-annotation {
					width: auto;
					position: absolute;
					text-align: right;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		display: block;
		width: $section-layer-width;
		height: 100%;
		background-color: theme-color('light');
		content: '';
	}
	// &:after {
	// 	position: absolute;
	// 	top: auto;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: auto;
	// 	display: block;
	// 	width: $section-layer-width;
	// 	height: 20vh;
	// background: linear-gradient(#00000000, transparentize(#000000, 0.9););
	// 	content: '';
	// }
	.post-section {
		margin-top: -$navbar-min-height/2.7;
		margin-bottom: $navbar-min-height/2.7;

		.down-button {
			position: relative;
			z-index: 1;
			display: inline-block;
			margin-top: 3vw;
			margin-bottom: 1vw;
			visibility: hidden;

			a.go-down {
				display: block;
				width: 2.35rem;

				img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.internal-nav-router,
	#internalNavRouter {
		display: none !important;
	}
	&.not-found-page {
		min-height: 100vh;
		.section-inner-wrapper {
			.section-heading {
				font-weight: 900;
				// font-size: 4.7vw;
				line-height: 1.1;
				font-size: ($small_ratio * 5) * 1rem;
				@include fluid-type($min_width, $max_width, ($small_ratio * 5) * $min_font, ($large_ratio * 5.35) * $max_font);
			}
		}
	}

	// start generic buttons
	.btn {
		font-weight: 700;
		&-primary {
		}
		&-secondary {
		}
		&-contrast {
		}
		&-dark {
			@include button-variant(
				theme-color('dark'),
				$grey-700,
				$hover-background: $yellow,
				$hover-border: darken($yellow, 10%),
				$active-background: darken($orange, 10%),
				$active-border: darken($orange, 12.5%)
			);
		}
		&-alternate {
			@include button-variant(
				theme-color('alternate'),
				$grey-500,
				$hover-background: $grey-900,
				$hover-border: $grey-900,
				$active-background: $grey-700,
				$active-border: $grey-700
			);
		}
		&-light {
			@include button-variant(
				theme-color('light'),
				$grey-500,
				$hover-background: $grey-900,
				$hover-border: $grey-900,
				$active-background: $grey-700,
				$active-border: $grey-700
			);
		}
		&-white {
			@include button-variant(
				$white,
				$grey-400,
				$hover-background: $grey-900,
				$hover-border: $grey-900,
				$active-background: $grey-700,
				$active-border: $grey-700
			);
		}

		&-outline-primary {
			@include button-outline-variant(darken(theme-color('primary'), 15%));
		}
		&-outline-secondary {
		}
		&-outline-contrast {
		}
		&-outline-dark {
		}
		&-outline-alternate {
			@include button-outline-variant(darken(theme-color('alternate'), 35%));
		}
		&-outline-light {
			// @include button-variant(
			// 	theme-color('light'),
			// 	$grey-400,
			// 	$hover-background: $grey-700,
			// 	$hover-border: $grey-700,
			// 	$active-background: $grey-600,
			// 	$active-border: $grey-600
			// );
			@include button-outline-variant(darken(theme-color('light'), 25%));
		}
		&-outline-white {
			@include button-outline-variant(darken($white, 5%));
		}
	}
	// end generic buttons

	.btn-free-trial {
		margin-right: 1vw;
		background-color: $white;
		font-weight: 700;
		box-shadow: 2px 2px 5px #00000029;
		@include button-variant(
			$white,
			$grey-400,
			$hover-background: $grey-700,
			$hover-border: $grey-700,
			$active-background: $grey-600,
			$active-border: $grey-600
		);
	}
	.section-cta,
	.follow-up {
		.btn-generic-cta {
			@include font-size(2rem);
			letter-spacing: -0.025rem;
			font-weight: 700;
			padding: 1.5rem 1.6rem;
			border-radius: 0.6rem;
			@include button-variant(
				theme-color('dark'),
				$grey-700,
				$hover-background: theme-color('contrast'),
				$hover-border: darken(theme-color('contrast'), 10%),
				$active-background: darken($orange, 10%),
				$active-border: darken($orange, 12.5%)
			);
		}
		.text-below-btn-wrapper {
			margin-top: 0.4rem;
			.text-below-btn {
				@include font-size(($large_ratio * 0.5) * $max_font);
				margin-bottom: 0.5rem;
			}
		}
	}
}
// End Generic Section Classes

// Generic Background Classes
.backdrop {
	&-primary,
	&-yellow {
		background-color: theme-color('primary');
		color: $black;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('primary');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('primary');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('primary'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('primary');
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: $white, $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}

	&-secondary,
	&-orange {
		background-color: theme-color('secondary');
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('secondary');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('secondary');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('secondary'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('secondary');
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: $white, $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}

	&-contrast,
	&-red {
		background-color: theme-color('contrast');
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('contrast');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('contrast');
				.navbar-brand {
					.navbar-brand {
						.logo.logo-addon {
							filter: drop-shadow(0px 0px 1px theme-color('contrast'));
						}
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('contrast');
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: $white, $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-none,
	&-white {
		background-color: $white;
		color: $dark;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: $white;
		}
		.nav-section-wrapper {
			.navbar {
				background-color: $white;
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px $white);
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: $white;
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: theme-color('alternate'), $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}

	&-alternate {
		background-color: theme-color('alternate');
		color: $dark;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('alternate');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('alternate');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('alternate'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('alternate');
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: theme-color('light'), $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}

	&-light {
		background-color: theme-color('light');
		color: $dark;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('light');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('light');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('light'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('light');
				}
				.nav-link {
					color: inherit;
					background-color: transparent;
					&:hover {
						color: inherit;
						background-color: transparentize($color: theme-color('alternate'), $amount: 0.6);
					}
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}

	&-dark {
		background-color: theme-color('dark');
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('dark');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('dark');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('dark'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('dark');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-ardent-red {
		background-color: $lotus-ardent-red;
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: $lotus-ardent-red;
		}
		.nav-section-wrapper {
			.navbar {
				background-color: $lotus-ardent-red;
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px $lotus-ardent-red);
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: $lotus-ardent-red;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-all-in-one {
		background-color: theme-color('contrast');
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: theme-color('contrast');
		}
		.nav-section-wrapper {
			.navbar {
				background-color: theme-color('contrast');
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('contrast'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: theme-color('contrast');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
		&-lighten {
			background-color: lighten(theme-color('contrast'), 5%);
			.nav-section-wrapper {
				.navbar {
					background-color: lighten(theme-color('contrast'), 5%);
				}
			}
		}
	}
	&-books {
		background-color: $product-books;
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: $product-books;
		}
		.nav-section-wrapper {
			.navbar {
				background-color: $product-books;
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px theme-color('dark'));
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: $product-books;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
		&-lighten {
			background-color: lighten($product-books, 5%);
			.nav-section-wrapper {
				.navbar {
					background-color: lighten($product-books, 5%);
				}
			}
		}
	}
	&-sales {
		background-color: $product-sales;
		color: $white;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: $product-sales;
		}
		.nav-section-wrapper {
			.navbar {
				background-color: $product-sales;
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px $product-sales);
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: $product-sales;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
		&-lighten {
			background-color: lighten($product-sales, 5%);
			.nav-section-wrapper {
				.navbar {
					background-color: lighten($product-sales, 5%);
				}
			}
		}
	}
	&-people {
		background-color: $product-people;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
		.section-separator {
			fill: $product-people;
		}
		.nav-section-wrapper {
			.navbar {
				background-color: $product-people;
				.navbar-brand {
					.logo.logo-addon {
						filter: drop-shadow(0px 0px 1px $product-people);
					}
				}
				.expanded,
				.dropdown-menu {
					background-color: $product-people;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
		&-lighten {
			background-color: lighten($product-people, 5%);
			.nav-section-wrapper {
				.navbar {
					background-color: lighten($product-people, 5%);
				}
			}
		}
	}
}
.has-layer {
	&-none {
		&:before,
		.navbar:before {
			background-color: transparent !important;
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				// when layer is turned to "none, inherit from backdrop-* declaration
			}
		}
	}
	&-primary {
		&:before,
		.navbar:before {
			background-color: theme-color('primary');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('primary');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}
	&-secondary {
		&:before,
		.navbar:before {
			background-color: theme-color('secondary');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('secondary');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-contrast {
		&:before,
		.navbar:before {
			background-color: theme-color('contrast');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('contrast');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-alternate {
		&:before,
		.navbar:before {
			background-color: theme-color('alternate');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('alternate');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}
	&-light {
		&:before,
		.navbar:before {
			background-color: theme-color('light');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('light');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}
	&-dark {
		&:before,
		.navbar:before {
			background-color: theme-color('dark');
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: theme-color('dark');
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
	&-white {
		&:before,
		.navbar:before {
			background-color: $white;
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: $white;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('dark');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('dark'), 25%));
					}
				}
			}
		}
	}
	&-ardent-red {
		&:before,
		.navbar:before {
			background-color: $lotus-ardent-red;
		}
		.navbar {
			@include media-breakpoint-up(lg) {
				.expanded,
				.dropdown-menu {
					background-color: $lotus-ardent-red;
				}
				.block-greetings {
					.text-greetings,
					.text-sign-in {
						color: theme-color('light');
					}
					.btn-outline-white {
						@include button-outline-variant(darken(theme-color('light'), 1%));
					}
				}
			}
		}
	}
}

.annotation {
	padding: 0.9rem 1rem 0.9rem 1.5rem;
	border-radius: 1vw;
	font-weight: 550;
	white-space: nowrap;
	text-align: left;
	max-width: 25rem;

	&-primary {
		background-color: theme-color('primary');
		color: color-yiq(theme-color('primary'));
	}
	&-secondary {
		background-color: theme-color('secondary');
		color: color-yiq(theme-color('secondary'));
	}
	&-contrast {
		background-color: theme-color('contrast');
		color: color-yiq(theme-color('contrast'));
	}
	&-alternate {
		background-color: theme-color('alternate');
		color: color-yiq(theme-color('alternate'));
	}
	&-light {
		background-color: theme-color('light');
		color: color-yiq(theme-color('light'));
	}
	&-dark {
		background-color: theme-color('dark');
		color: color-yiq(theme-color('dark'));
	}
	&-white {
		background-color: $white;
		color: color-yiq($white);
	}
	&-books {
		background-color: $product-books;
		color: color-yiq($product-books);
	}
	&-sales {
		background-color: $product-sales;
		color: color-yiq($product-sales);
	}
	&-people {
		background-color: $product-people;
		color: color-yiq($product-people);
	}
	&.corner-tl {
		border-top-left-radius: 0;
	}
	&.corner-tr {
		border-top-right-radius: 0;
	}
	&.corner-br {
		border-bottom-right-radius: 0;
	}
	&.corner-bl {
		border-bottom-left-radius: 0;
	}
	&.annotation-image {
		padding: 0;
		margin: 0;
		border-radius: 0;
		max-width: max-content;
	}
}
.text {
	&-reverse {
		// for use at top-level, applies to all children
		color: $white;
		* {
			color: $white;
		}
	}
	&-books {
		color: $product-books;
	}
	&-sales {
		color: $product-sales;
	}
	&-people {
		color: $product-people;
	}
	&-all-in-one {
		color: $red;
	}
}
// End Generic Background Classes

// Generic panel layout Classes
.container {
	&.section-column-wrapper,
	&.section-inner-wrapper {
		&.is {
			&-side-equal {
				justify-content: space-between;
				.primary-panel {
					@include make-col-ready();
					@include make-col(6);
				}
				.secondary-panel {
					@include make-col-ready();
					@include make-col(6);
				}
			}
			&-side-third {
				justify-content: space-between;
				.primary-panel {
					@include make-col-ready();
					@include make-col(8);
				}
				.secondary-panel {
					@include make-col-ready();
					@include make-col(4);
				}
			}
			&-single-column {
				justify-content: space-between;
				.primary-panel,
				.secondary-panel {
					@include make-col-ready();
					@include make-col(12);
				}
				.hero-heading {
					display: block;
					width: auto;
				}
			}
		}
	}
}
// End panel layout Classes
// Generic panel order Classes
.has-reverse-order {
	.primary-panel {
		order: 1;
		@include media-breakpoint-down(md) {
			order: 0;
		}
	}
}
// End panel order Classes
// For Chat Widget integration
// #launcher is for Zendesk
.intercom-lightweight-app-launcher {
	@include media-breakpoint-down(md) {
		bottom: 5rem !important;
		margin: 0 auto 0 -30px;
		left: 50%;
		right: 50%;
	}
}

.section-separator {
	position: relative;
	z-index: 9;
	svg {
		position: absolute;
		filter: drop-shadow(0px -9px 3px #00000015);
	}
	&.top {
		margin-top: -8rem;
		svg {
			top: -2rem;
		}
	}

	&.bottom {
		margin-bottom: 8rem;
	}
	@include media-breakpoint-down(md) {
		&.top {
			margin-top: -5rem;
			svg {
				top: -2rem;
			}
		}
	}
}
.section-inner-wrapper {
	position: relative;
	z-index: 99;
}

#launcher {
	margin-bottom: 5px !important;
}
// end Chat Widget integration
@include media-breakpoint-down(md) {
	section,
	nav {
		&:before {
			display: none !important;
		}
	}
	.secondary-panel {
		max-height: max-content !important;
		max-width: 99% !important;
		text-align: center;
		margin: 2rem auto;
		.takeout,
		.annotation,
		.parallax-annotation,
		.parallax-takeout {
			display: none !important;
		}
	}
}

@include media-breakpoint-between(sm, md) {
	// special between sm and md :::::: for large headings only
	.secondary-panel {
		max-height: max-content !important;
		max-width: 100% !important;
		text-align: center;
		margin: 2rem 0;
	}
}

.horizontal-slider {
	width: 100%;
	padding: 0.5rem 0;
	display: block;

	.range-slider-track {
		top: 0px;
		height: 8px;
		border-radius: $border-radius;
		position: relative;
		background: transparentize(theme-color('dark'), 0.7);
		&.range-slider-track-0 {
			background: $dark;
		}
		&.range-slider-track-1 {
			background: transparentize(theme-color('dark'), 0.8);
		}
	}

	.range-slider-thumb {
		border: 0.8rem solid $dark;
		top: -1.1rem;
		top: -0.5rem;
		height: 1.1rem;
		width: 1.1rem;
		color: $white;
		background-color: $dark;
		opacity: 1;
		border-radius: 50%;
		&:hover,
		&:focus {
			outline: none;
			top: -0.7rem;
			height: 1.25rem;
			width: 1.25rem;
			border-width: 1rem;
			border-radius: 50%;
			opacity: 1;
			border-color: theme-color('contrast');
		}
	}
}

//***********RESPONSIVE TABLE***********************//
