// Import the theme palette to enable the colors when overriding
@import './palette';

// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Grid System
//

$grid-gutter-width: 30px !default;
$enable-grid-classes: true !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 769px,
	lg: 992px,
	xl: 1200px,
	xxl: 1300px,
	xtr: 1440px,
	xtrm: 1800px,
);

$container-max-widths: (
	xs: 400px,
	sm: 540px,
	md: 90%,
	lg: 960px,
	xl: 1140px,
	xxl: 1290px,
	xtr: 1340px,
	xtrm: 1440px,
);

// refer to https://gist.github.com/anschaef/d7552885c0e1f127cf8830d3bbf6e4b1
// refer https://stackoverflow.com/questions/47987496/bootstrap-4-containers-grid-error-while-compiling-scss

//
// Color system
//
$white: #fff !default;
$grey-100: #faf2e7 !default;
$grey-200: #eeeeee !default;
$grey-300: #e0e0e0 !default;
$grey-400: #bdbdbd !default;
$grey-500: #9e9e9e !default;
$grey-600: #757575 !default;
$grey-700: #616161 !default;
$grey-800: #424242 !default;
$grey-900: #212121 !default;

$grey-dark-2x: #25252329 !default;
// $grey-light-4x: #f5f2ee !default;
$grey-light-5x: #f7f4ef;

$black: #181818 !default;

// $dark-transparent: #00000000 !default;
// $dark-light-transparent: #0000001a !default;

$blue-dark: #1a85d9; // ending scale #023a68;
$blue: #2095f2;
$blue-light: #449ff4; // ending scale #9dd3ff;

$steel: #5f7c8a;

$red-dark: #de392e; // ending scale #740c05;
$red: #ae2e00;
$red-light: #f75446; // ending scale #fd9d96;

$yellow-dark: #ffb921; // ending scale #8f5703;
// $yellow: #ffc014;
// $yellow: #ffc51b;
$yellow: #ffc64a;
$yellow-light: #ffa73c; // ending scale #fdebcf;

$orang-dark: #f07d25;
// $orange: #f07d25;
$orange: #f47521;
$orange-light: #f07d25;
$orange-dark: #ae2e00;

$green-dark: #2eaa66; // ending scale #035327
$green: #37bd74;
$green-light: #50c783; // ending scale #b4f8d2

$cyan-dark: #0fbad8; // ending scale #055c6b
$cyan: #11cdef;
$cyan-light: #42d2f1; // ending scale #a8f0fd

$deep-red: #ae2e00;
$lotus-ardent-red: #4e0000;
$dark-wine-red: #110000;

$product-go: #520052;
$product-books: #3856d5;
$product-sales: #1aaf5d;
$product-people: #f07d25;

$product-erp: #f37612;
$product-crm: #7d44ad;
$product-mrp: #f37612;
$product-pm: #b31273;
$product-lms: #1f4d93;
$product-hrms: #01985c;
$product-eleave: #34505e;
$product-eclaims: #5ca7bf;
$product-etraining: #8c9f10;
//
// Color Overrides
// keeping success,info, warning, danger same - no change
// alternate: #efeadc,
$theme-colors: (
	primary: $yellow,
	secondary: $orange,
	alternate: #ece6de,
	contrast: $deep-red,
	dark: $beluga-dark-5x,
	light: #f9f6f1,
	product-go: #520052,
	product-books: #3856d5,
	product-sales: #1aaf5d,
	product-people: #f07d25,
);

// Body
//
// Settings for the `<body>` element.
$body-color: $beluga-dark-4x;
// setting for local modifications
$min_width: 320px;
$max_width: 1400px;
$min_font: 12px;
$max_font: 24px;
$small_ratio: 1.1; // mobile
$large_ratio: 1.5; // desktop

// Links
//
// Style anchor elements.
$link-color: $redexa;
$link-hover-decoration: none;

// Components
//
// Define common padding and border radius sizes and more.
$border-radius: 0.3rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.35rem !default;

$border-color: $beluga-light-5x;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
//$enable-shadows: true;
//$enable-gradients: true;
$enable-responsive-font-sizes: true;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$headings-font-family: 'neue-haas-grotesk-display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
	Segoe UI Emoji;

$headings-font-weight: 700;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

// Forms
$btn-font-size: 1.1rem;
$btn-font-weight: bolder;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$input-padding-y: 0.9rem;
$input-padding-y-lg: 2rem;
$input-padding-x-lg: 1.3rem;
$input-padding-x: 1.75rem;

$input-color: $beluga-light;
$input-border-color: $beluga-light-4x;

$input-focus-bg: $beluga-light-5x;
$input-focus-border-color: $beluga-light-3x;
$input-focus-color: $beluga;
// $input-focus-box-shadow: $input-btn-focus-box-shadow;
//Typography

// common selector for all layered sections
$section-layer-width: 40vw;

// common padding for Plan cards
$plan-card-padding: 2rem;
