.company {
	.aboutus {
		&.promising-section {
			background-color: theme-color('light');
			&:before {
				background-color: theme-color('light');
			}
			.primary-panel {
				.section-heading {
					display: -ms-grid;
					font-weight: 900;
					line-height: 1;
				}
			}
			.secondary-panel {
				.main-screenshot {
					width: 40rem;
					margin: auto;
				}
			}
			.background-decorator {
				position: absolute;
				&.top-right {
					top: 0vw;
					right: 0vw;
					max-width: 15rem;
				}
			}
		}
	}
}
